* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff0000;
  color: white;
  padding: 15px;
}

.left-h i,
.right-h i {
  margin-right: 20px;
  cursor: pointer;
}

.middle-h input {
  padding: 10px;
  border-radius: 20px;
  width: 300px;
}

.middle-h button {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.main {
  display: flex;
  padding: 20px;
}

.sidebar {
  width: 250px;
  background-color: #f5f5f5;
  padding-top: 20px;
}

.sidebar .sidebar-item {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

.sidebar .sidebar-item i {
  margin-right: 10px;
}

.sidebar .sidebar-item:hover {
  background-color: #e0e0e0;
}

.contents {
  flex-grow: 1;
  padding-left: 20px;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.video-card {
  width: 300px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.video-card iframe {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.video-info {
  padding: 10px;
}

.video-title {
  font-size: 16px;
  font-weight: bold;
}

.video-channel {
  color: #606060;
}

.dark-mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #ff0000;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid white;
}

.dark-mode-toggle:hover {
  background-color: #cc0000;
}

.dark-mode {
  background-color: #121212;
  color: #fff;
}

.dark-mode header {
  background-color: #333;
}

.dark-mode .sidebar {
  background-color: #181818;
}

.dark-mode .sidebar .sidebar-item {
  color: #ccc;
}

.dark-mode .sidebar .sidebar-item:hover {
  background-color: #444;
}

.dark-mode .video-card {
  background-color: #333;
}

.dark-mode .video-info .video-title {
  color: white;
}

.dark-mode .video-info .video-channel {
  color: #ccc;
}

.dark-mode .video-card iframe {
  border-radius: 10px 10px 0 0;
}

.dark-mode .video-list .video-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dark-mode .dark-mode-toggle {
  background-color: #333;
  border-color: #fff;
}

.dark-mode .dark-mode-toggle:hover {
  background-color: #555;
}
